html,body{
background-color: rgb(111, 129, 104); 
margin: 0px;
height: 100%;

}
.container{
    display: flex;
   flex-direction: column;
   height: 100%;
    width: 100%;
justify-content: center;
align-items: center;
}
.noteArea{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    background-color: rgb(255, 230, 130);
    
    
    border-radius: 12px;
}
.noteMetadata{
    background-color: rgb(222, 222, 222);
     border-top-left-radius: 12px;
     border-top-right-radius: 12px ;
     display: flex;
     flex-direction: row;    
}
.buttonContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}
.dateContainer{
    width: 100%;
}
.noteContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    
}
#textContent,#textHeader{
   background-color: #ffffff;
   resize: none;
   border: none;
   border-radius: 12px;
}#textContent{
  
}
#textHeader{
text-align: center;
}
button{
     border-radius: 12px;
    border: none;
    background-color: rgb(8, 122, 35);

}