html,body{
background-color: rgb(210, 135, 160); 
margin: 0px;
height: 100%;

}
#container{
    display: flex;
   flex-direction: column;
   height: 100%;
    width: 100%;
justify-content: center;
align-items: center;
}
#noteArea{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    background-color: 	#ffd6e3;
    
    
    border-radius: 12px;
}
#noteMetadata{
    background-color: 	#d2cfcf;
     border-top-left-radius: 12px;
     border-top-right-radius: 12px ;
     display: flex;
     flex-direction: row;    
}
#buttonContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}
#dateContainer{
    width: 100%;
}
#noteContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    
}
#textContent,#textHeader{
   background-color:#ffedf8;
   resize: none;
   border: none;
   border-radius: 12px;
   font-size:32;}
#textContent{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  width: 200px;
  height: 300px;
  }
#textHeader{
font-family: Arial, Helvetica, sans-serif;
font-size: 19px;
font-weight: bold;
text-align: center;
justify-content: center;
width: 200px;
  height: 30px;
  padding-top: 13px;
}
button{
     border-radius: 12px;
    border: none; 
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
#addButton{
    background-color: rgb(139, 206, 176);
}#addButton:active{
    background-color: rgb(104, 159, 134);}

#closeButton{
    background-color: rgb(255, 122, 122);

}#closeButton:active{
        background-color: rgb(186, 89, 89);}