html,body{
background-color: #516450; 
margin: 0px;
}
h1{
    margin: 0px;
}
#topContainer{
    display:flex;
    flex-direction:row;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    background-color: 	#b5c5b6;
    font-family: Arial, Helvetica, sans-serif;
}
#cloneContainer{
    display:flex;
    flex-direction:row;
    justify-content: center;
    padding-bottom: 30px;
}
#addButton{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    border-radius: 30px;
    font-size: 15px;
}
#container{
    display: flex;
   flex-direction: column;
   max-height: 100%;
    max-width: 100%;
justify-content: center;
align-items: center;
}
#noteArea{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    background-color: #abc2aa;

    
    
    border-radius: 12px;
}
#noteMetadata{
    background-color: 	#d2cfcf;
     border-top-left-radius: 12px;
     border-top-right-radius: 12px ;
     display: flex;
     flex-direction: row;    
}
.buttonContainer{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}
.dateContainer{
      width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0px;
    margin-left: 5px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    
}
#noteContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    
}
.textContent,.textHeader{
    display: flex;
    flex-direction: row;
    align-self: center;
   background-color:#ffedf8;
   resize: none;
   border: none;
   border-radius: 12px;
   font-size:32px;}

.textContent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  width: 450px;
  height: 550px;
  padding: 11px;
  }
.textHeader{
    margin-top: 15px;
    margin-bottom: 10px;
font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
font-weight: bold;
text-align: center;
justify-content: center;
width: 450px;
  height: 40px;
  padding-top: 13px;
}
button{
     border-radius: 12px;
    border: none; 
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
#addButton{
    background-color: rgb(139, 206, 176);
}#addButton:active{
    background-color: rgb(104, 159, 134);}
    .addButton{
    background-color: rgb(139, 206, 176);
}.addButton:active{
    background-color: rgb(104, 159, 134);}
    

.closeButton{
    background-color: rgb(255, 122, 122);

}.closeButton:active{
        background-color: rgb(186, 89, 89);}
        
        .newNoter{
             display: flex;
             flex-wrap: wrap;
    flex-direction: column;
    height: 700px;
    width: 550px;
    background-color:#abc2aa;
    border-radius: 12px;
    margin-bottom: 20px;
        }
        
    .infoMetaData{
        background-color: 	#d2cfcf;
     border-top-left-radius: 12px;
     border-top-right-radius: 12px ;
     display: flex;
     flex-direction: row; 
     height: 24px;
     width: 550px;
    }
    .dateStyle{
        font-family: Arial, Helvetica, sans-serif;
    }
    .saveButton{
        height: 100%;
         border-radius: 12px;
    border: none; 
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
         background-color: rgb(143, 225, 243);
    }.saveButton:active{
        background-color: rgb(107, 191, 210);}
    

